<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COORDIS — Вход</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
<body>

<header>
    <a href="home" class="logo">COORDIS</a>
    <div th:if="${email != null}" class="auth-buttons, nav-right">
        <h3>Привет, <span th:text="${firstName}">Пользователь</span>!</h3>
        <h3>Роль: <span th:text="${role}">Гость</span></h3>
        <form method="post" action="auth/logout">
            <button type="submit">Выйти</button>
        </form>
    </div>

    <div th:if="${email == null}" class="auth-buttons">
        <a href="auth">Вход</a> |
        <a href="reg">Регистрация</a>
    </div>
</header>
<main>
<div th:if="${email != null}">
    <a href="projects/create" class="cta-button">Заказать проект</a>
</div>

<div th:if="${email == null}" class="error-message">
    <a>У вас сейчас нет доступа к этому разделу</a>
</div>
</main>
</body>
</html>