<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COORDIS — Вход</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>

<header>
    <a href="/home" class="logo">COORDIS</a>
    <div th:if="${email == null}" class="auth-buttons">
        <a href="auth">Вход</a> |
        <a href="reg">Регистрация</a>
    </div>
</header>
<main>
    <div th:if="${email != null}">
        <a href="projects/create" class="cta-button">Заказать проект</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Дедлайн</th>
                <th>Создатель проекта</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"></td>
                <td th:text="${project.title}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.projectStatus}"></td>
                <td th:text="${project.deadLine}"></td>
                <td th:text="${project.projectCreator != null ? project.projectCreator.name : 'Пользователь удалён'}"></td>
                <td th:text="${project.createdAt}"></td>
                <td>
                    <a th:href="@{/projects/{id}(id=${project.id})}" class="cta-button">Просмотр</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${email == null}" class="error-message">
        <a>У вас сейчас нет доступа к этому разделу</a>
    </div>
</main>
</body>
</html>